.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;

    .error-title {
        font-size: 10rem;
        font-weight: bold;
        color: #00bc77;
        margin: 0;
    }

    .error-text {
        font-size: 3rem;
        font-weight: bold;
        color: white;
    }

    .error-btn {
        text-decoration: none;
    }
}
